html {
  height: 100%;
}

body {
  background:linear-gradient(to bottom, #c2c6c7, #D4BBB5);
  background-size: 100%
}

#content {
  width: 70%;
  color: black;
  text-align: center;
  margin: 20px auto;
  background-color: white;
  border: 10px solid white;
}

h1 {
  font-size: 90px;
  font-color: black;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 10px auto;
}

h2 {
  font-size: 22px;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 400;
  color: black;
}

p {
  font-family: pt-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 14pt;
  line-height: 2em;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 28px;
  margin-bottom: 0;
}

a {
  color: black;
}
