* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flow-root;
}

.board {
  width: 800px;
  margin: 50px auto 0;
}

.coral, .purple {
  width: 100px;
  height: 100px;
  float: left;
}

.coral {
  background-color: #ffb599;
}

.purple {
  background-color: #3939ac;
}
