* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.coral .purple {
  width: 100px;
  height: 100px;
  float: left;
}

.coral {
  background-color: #ffcccc;
}

.purple {
  background-color: #3939ac;
}
