* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: white;
  display: flow-root;
  padding: 10px 30px;
  margin: 0;
}

h1 {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  float: left;
  width: 45%;
  margin-top: 20px;
  text-align: left;
  display: inline;
}

nav {
  font-family: kepler-std, serif;
  font-weight: 300;
  font-size: 19pt;
  width: 50%;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 0;
  float: right;
}

ul li {
  list-style-type: none;
  display: inline;
  float: left;
  padding: 0;
  text-align: center;
  width: 25%;
}

ul li a {
  text-decoration: none;
  color: Black;
}

a:hover {
  color: gray;
}

h2 {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
  float: left;
}

h3 {
  font-family: raleway, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 42pt;
}

h4 {
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: italic;
  font-size: 48pt;
  color: white;
  background-color: black;
}

.hero {
  background: url(../images/white_texture.jpg) no-repeat center center;
  height: 1000px;
}

.homebackground {
  background-color: #ebebeb;
  float: left;
}

.homeh2 {
  font-size: 138pt;
  width: 100%;
  text-align: center;
  padding: 0 auto;
}

.museum {
  position: absolute;
  max-width: 62%;
  left: 20%;
  top: 600px;
  float: left;
}

.homep1, .homep2 {
  font-family: kepler-std, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22pt;
  margin-left: 20%;
  margin-right: 350px;
  line-height: 1.7em;
  float: left;
}

.homep1 {
  margin-top: 240px;
}

.boxes {
  max-width: 60%;
  margin-top: 20px;
  margin-left: 20%;
  float: left;
}

/*exhibits*/

.h2exhibits {
  font-size: 133pt;
  width: 100%;
  text-align: center;
  padding: 0 auto;
  color: #fe464d;
}
