* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
header {
  width: 100%;
  background-color: white;
  display: flow-root;
  padding: 10px 30px;
  margin: 0;
}
h1 {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  float: left;
  width: 45%;
  margin-top: 20px;
  text-align: left;
  display: inline;
}
nav {
  font-family: kepler-std, serif;
  font-weight: 300;
  font-size: 19pt;
  width: 50%;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 0;
  float: right;
}
ul li {
  list-style-type: none;
  display: inline;
  float: left;
  padding: 0;
  text-align: center;
  width: 25%;
}
ul li a {
  text-decoration: none;
  color: Black;
}
a:hover {
  color: gray;
}
h2 {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
  float: left;
}
.hero {
  background: url(../images/white_texture.jpg) no-repeat center center;
  height: 1000px;
}
.homebackground {
  background-color: #ebebeb;
  float: left;
}
.homeh2 {
  font-size: 143pt;
  width: 100%;
  text-align: center;
  padding: 0 auto;
}
.museum {
  position: absolute;
  max-width: 62%;
  left: 20%;
  top: 600px;
  float: left;
  padding-right: 32px;
}
.homep1, .homep2 {
  font-family: kepler-std, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16pt;
  padding: 0;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.7em;
  float: left;
}
.homep1 {
  margin-top: 200px;
}
.homep2 {
  margin-top: 30px;
  margin-bottom: 50px;
}
.boxes {
  max-width: 60%;
  margin-top: 20px;
  margin-left: 20%;
  float: left;
}

/*exhibits page*/

.exhibitbackgrnd {
  background-color: #ebebeb;
  padding: 0;
  display: flow-root;
}
.h2exhibits {
  font-size: 109pt;
  width: 100%;
  text-align: center;
  padding: 0 auto;
  margin: 170px auto 40px;
  color: #fe464d;
  float: left;
}
.subhead, .subhead2 {
  font-family: raleway, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 32pt;
  width: 100%;
  padding: 0 auto;
  margin-left: 22%;
  margin-right: 22%;
  float: left;
}
.subhead2 {
  margin-top: 20px;
}
h3 {
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: italic;
  font-size: 24pt;
  color: white;
  background-color: black;
  border: 15px solid;
  border-color: black;
  margin: 20px 22%;
  float: left;
}
h4 {
  font-family: kepler-std, serif;
  font-weight: 300;
  font-style: normal;
  margin: 10px 22%;
  font-size: 28pt;
  color: white;
  padding: 0 auto;
  background-color: black;
  border: 12px solid;
  border-color: black;
  float: left;
}
.red, .redbottom {
  font-family: raleway, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #fe464d;
  margin: 0 22%;
  float: left;
}
p {
  font-family: kepler-std, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1.7em;
  margin: 10px 22%;
  float: left;
}
.cactus {
  margin: 0;
}
.exhibitimg {
  display: flow-root;
  max-width: 975px;
  max-height: 80%;
  margin: 17px 22%;
  float: left;
}
.redbottom {
  margin-bottom: 50px;
}
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 54px;
  }
.h2exhibits {
  font-size: 110px;
}
.exhibitimg {
  max-height: 60%;
  max-width: 60%;
}
